# Cấu hình Cổng chạy Backend NestJS
PORT=3000

# Cấu hình Kết nối PostgreSQL / Supabase
# Vui lòng thay thế bằng thông tin thực tế từ Supabase Project của bạn
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SSL=true

# Cấu hình JWT (Json Web Token)
JWT_SECRET=super_secret_key_sportzone_2026
JWT_EXPIRES_IN=7d
